<!-- homepage - displays list of all posts -->
<ul class="post-list">
    {{#each posts}}
    <li>
        <article class="post">

            <div class="title">
                <a href="/post/{{id}}" target="">{{title}}</a>
                <span>Posted By: {{user.username}} on {{format_date created_at}}</span>
            </div>

            <div class="meta">
                {{post_content}}
            </div>

        </article>
    </li>
    {{/each}}
</ul>